body {
    background: url("/styles/amor-libros.jpg");
    background-size: cover;
    margin: 0;
}

.account-already {
    color: #800020;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease all;
}

.account-already:hover {
    color: #dc3545;
    text-decoration: none;
}

.container {
    padding: 1rem;
    background-color: #ffffff;
    border: 0.3px solid #000000;
    max-width: 1100px;
    margin: auto;
    text-align: left;
    border-radius: 10px;
}

h2 {
    color: #800020;
    text-align: center;
}

.btn-primary {
    background-color: #800020;
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #a52a2a;
    border-color: #ffffff;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #dc3545;
    border-color: #dc3545;
}

a {
    color: #800020;
    
  }

@media only screen and (max-width: 900px) {
    body {
        background-size: cover;
        height: 90vh;
    }

}