.container-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
    background-color: #24646025;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.profile-img{
    width: 100px;
    height: 100px;
    border: 3px solid #a52a2a;
    border-radius: 50%;
    margin-bottom: 20px;
}
.log-out{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: #a52a2a;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease all;
}
.log-out:hover{
    background-color: #800020;
}
.icon-btn{
    font-size: 1.5rem;
    margin-left: 5px;
}
#user-name{
    font-size: 2rem;
    font-weight: bold;
}
#user-email{
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s ease all;
}
#user-email:hover{
    color: #800020;
    cursor: grab;
}
.btn-sell{
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #a52a2a;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.6s ease all;
    cursor: pointer;
}
.btn-sell:hover{
  background: #800020;
}
.profile-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.profile-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.profile-menu ul li{
    font-weight: bold;
    transition: 0.3s ease all;
    cursor: pointer;
}
.profile-menu ul li a{
    text-decoration: none;
    color: #800020;
}
.profile-menu ul li a:hover{
    color: #a52a2a;
}


@media screen and (max-width: 768px) {
    .profile{
        padding: 2rem 1rem;
    }
    .profile-img{
        width: 80px;
        height: 80px;
        margin-top: 1rem;
    }
    .log-out{
        margin: 1rem;
        padding: .3rem;
        font-size: 1.2rem;
        
    }
    #user-name{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    #user-email{
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
    .btn-sell{
        padding: 8px;
        font-size: 0.8rem;
    }
    .profile-content{
        text-align: center;
        flex-direction: column;
        gap: 1rem;
    }
    .profile-menu h3{
        padding-bottom: 1rem;
    }
    .profile-menu ul li{
        font-size: 0.8rem;
    }
    
}